
button[data-playing="yes"]:after {
  content: "Pause";
}

button[data-playing="no"]:after {
  content: "Play";
}

@media screen and (max-width: 900px) {
  canvas{
    width: 100%;
       
  }
}